Brotli==1.0.9
certifi==2021.10.8
chardet==4.0.0
charset-normalizer==2.0.12
click==8.1.2
ConfigArgParse==1.5.3
Flask==2.1.1
Flask-BasicAuth==0.2.0
Flask-Cors==3.0.10
gevent==21.12.0
geventhttpclient==1.5.3
greenlet==1.1.2
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.0.3
locust==2.8.6
MarkupSafe==2.1.1
msgpack==1.0.3
msgpack-python==0.5.6
psutil==5.9.0
pyzmq==22.3.0
requests==2.27.1
roundrobin==0.0.2
six==1.16.0
typing_extensions==4.1.1
urllib3==1.26.9
Werkzeug==2.1.1
zipp==3.8.0
zope.event==4.5.0
zope.interface==5.4.0
